
body{
background:black;
	
}

#particles-js{

	background:black;
	width: 100vw; 
	height: 100vh;	

	padding:0px,0px,0px,0px;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:white;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;

}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}